{
  "name": "{{ account_name }}",
  "email": "{{ email }}",
  "organizational_unit": "{{ organizational_unit }}",
  "account_tags": {{ account_tags | tojson }},
  "custom_fields": {{ custom_fields | tojson }}
} 